#welcome { 
  font-family:Helvetica, Arial,sans-serif,serif,verdana,;
  font-size: 38px;
  }

 body {
            background-color:#32a852

        }

#fricking-random-stuff {
            font-family:Arial;
            font-style:italic;
            font-weight:bold;
            color:#e28743;
        }
 

#js-popup-txt {
            font-family:verdana, Arial, sans-serif;
            font-weight:bold;
            color:#42f5ec;
            
        }

#advertising {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#42f548;
        }

#rickroll-lol {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#036bfc;
        }

