#welcome { 
  font-family:Helvetica, Arial,sans-serif,serif, Verdana;
  font-size: 38px;
  }

 body {
            background-color:white;

        }

#fricking-random-stuff {
            font-family:Arial;
            font-style:italic;
            font-weight:bold;
            
        }
 

#js-popup-txt {
            font-family:verdana, Arial, sans-serif;
            font-weight:bold;
            color:#42f5ec;
            
        }

#advertising {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#42f548;
        }

#rickroll-lol {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#036bfc;
        }
#advertisments-lol {
  font-family:verdana,Arial, sans-serif;
  font-style:italic;
  font-weight:bold;
  color:#02c212;
}


nav ul li {
	display: inline;
	border-right: 2px solid #111111;
	padding-right: 8px;
	padding-left: 8px;
}
